<section class="featured-products">
    <h2>Featured Products</h2>
    <div class="products">
        <!-- Loop through the shoes array and display each product -->
        <% for (let i = 0; i < shoes.length; i++) { %>
        <div class="product">
            <img src="<%= shoes[i].image %>" alt="<%= shoes[i].title %>" onclick="viewShoeDetails('<%= shoes[i]._id %>')">
            <h3 class="title"><%= shoes[i].title %></h3>
            <p class="category"><%= shoes[i].category %></p>
            <p class="price"> $<%= shoes[i].price %></p>
        </div>
        <% } %>
    </div>
</section>
